<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Webdriver" parallel="false">
	<test name="Bugzila Suite" preserve-order="true">
		<classes>
			<class name="testcases.module.incentiveprogm.TestIncentiveProgram" />
			<class name="testcases.module.incentiveprogm.TestActivityIncentiveTemplate" />
		</classes>
	</test>
	</suite> 
